.container {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.form {
    width: 500px;
}

.form > *+* {
    margin-top: .5rem;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.th,
.td {
    padding: 8px;
    text-align: left;
    border-bottom: 3px solid var(--bg-1);
}

.th {
    background-color: var(--bg-2);
}

.tr {
    cursor: pointer;
}

.tr:hover {
    background-color: var(--bg-2) !important;
}