.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container > *+* {
    margin-top: 2rem;
}

.list {
    display: flex;
}

.list > *+* {
    margin-left: 1rem;
}